.place-container__title {
  grid-area: title;
  font-size: 72px;
  line-height: 78px;
  font-weight: 900;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place-container__title {
    font-size: 42px;
    line-height: 46px;
  }
}