.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
  }
}