.place-container__place {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 1fr 100%;
  gap: 48px 30px;
  grid-template-areas:
  "title website"
  "image info";
}

@media screen and (max-width: 1024px) {
  .place-container__place {
    grid-template-columns: 440px 1fr;
    grid-template-rows: 1fr 100%;
    gap: 48px 32px;    
  }
}

@media screen and (max-width: 768px) {
  .place-container__place {
    grid-template-columns: 340px 1fr;
    grid-template-rows: 1fr 100%;
    gap: 48px 28px;    
  }
}

@media screen and (max-width: 320px) {
  .place-container__place {
    padding-top: 52px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 32px;
    grid-template-areas:
    "title"
    "website"
    "image" 
    "info";
  }
}