.lead__title {
  max-width: 720px;
  padding-bottom: 32px;
  margin: 0;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__title  {
    font-size: calc(3.84px + 12vw);
    line-height: calc(0.16px + 13vw);
  }
}

@media screen and (max-width: 320px) {
  .lead__title  {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 16px;
  }
}