.photo-grid {
  max-width: 1164px;
  margin: 0 auto;
  padding-top: 92px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px 9px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
    gap: 12px;
    padding-top: 64px;
  }
}