.header__lang-links {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    align-items: center;
  }
}